#title {
	margin-top: 2%;
}

.search-form {
	margin-top: 2%;
	width: 50%;
}

.jobs-list {
	margin-top: 2%;
	width: 75%;
}

.back-link {
	margin-top: 1%;
	margin-bottom: 1%;
}

body {
	margin-left: 2%;
}